name: Test Runner
on:
  push:
    branches:
      - main
jobs:
  test-runner:
    runs-on: [self-hosted, local-runner]
    steps:
      - name: Verification
        run: echo "Test de fonctionnement du Runner !"
      - name: Tests de commandes
        run: |
          echo "Runner OK"
          hostname
          whoami
          uname -a